*{
    margin: 0;
    padding: 0%;
}
/* --------------appbar------------------ */

.link{
    padding-right: 5rem;
}
/* ----------------feed----------------- */
.feedcontainer{
    margin-right: 60px;
    display: flex;
    justify-content: center;
 
}
.vidtitle{
    font-size: 30px;
    text-align: center;
}
.title{
    padding-bottom: 3rem;
}

/* ---------------sidebarcontainer----------- */
.sidebarcontainer{
    margin-top: 0%;
}


